{% load static %}
{% load i18n %}

{% block pre_login %}
<div class="container-fluid" id="adjutant-container">

  <div class="container-fluid flex-center">
    <img id="logo-login" src="{% static 'themes/ubuntu/img/logo-ubuntu-orange.svg' %}" alt="Lorius Cloud Logo">
  </div>

  <form id="reset-password" class="ng-pristine ng-valid ng-scope" 
    method="POST"
    action="{% url 'horizon:forgot_password:forgot_password:forgot_index' %}" autocomplete="off"
    ng-controller="hzLoginController">
    {% csrf_token %}
    {% endblock %}

    <div class="panel panel-default">

      <div class="panel-heading">
        {% block login_header %}
        <h3 class="login-title">
          {% trans 'Forgot password' %}
        </h3>
        <p>Please, enter your email so we can send you a reset password link</p>
        {% endblock %}
      </div>

      <div class="panel-body">
        {% block login_body %}
        {% comment %}
        These fake fields are required to prevent Chrome v34+ from autofilling form.
        {% endcomment %}
        {% if HORIZON_CONFIG.password_autocomplete != "on" %}
        <div class="fake_credentials" style="display: none">
          <input type="text" name="fake_email" value="" />
          <input type="password" name="fake_password" value="" />
        </div>
        {%endif%}
        <fieldset hz-login-finder>
          {% include "horizon/common/_form_fields.html" %}
        </fieldset>
        {% endblock %}
      </div>

      <div class="panel-footer">
        {% block login_footer %}
        <button id="loginBtn" type="submit" class="btn btn-primary pull-right">
          <span ng-show="auth_type==='credentials'">{% trans "Submit" %}</span>
          <span style="display: none;" ng-hide="auth_type==='credentials'" ng-cloak>{% trans "Submit" %}</span>
        </button>
        <a href="/" class="cancel">
          {% trans "Back to login" %}
        </a>
        <div class="clearfix"></div>
        {% endblock %}
      </div>
    </div>

    {% block post_login%}
  </form>
</div>
{% endblock %}